

body,
textarea,
input {
    color: #8B7969;
}

textarea::placeholder,
input::placeholder {
    color: #BEB1A6;
}



/* ヘッダー */
.header {
    display: grid;
    align-items: center;
    padding: 16px 0;
    height: 80px;
    border: 1px solid #E0DFDE;
    text-align: center;
    font-family: serif;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.header__heading {
    font-weight: lighter;
    font-size: 32px;

    grid-column: 2;
}


/* コンテンツ */
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 48px;
}

.content__heading {
    text-align: center;
    font-weight: 100;
    font-size: 32px;
    font-family: serif;
}


.contact-form__inner {
    margin: 32px auto 0;
    width: 74%;
    font-size: 16px;/* 全体の基本文字サイズ。*/
}

/* フォーム */
.contact-form__group {
    display: grid; /*ラベルと入力欄をきれいに横並びにできるようにする。フレックスよりも「縦列と横列」を明確にできる。*/
    align-items: center;/*行の中で、上下の中央揃えにする（ラベルと入力欄の高さがずれないように）。*/
    margin-top: 32px;

    grid-template-columns: 1fr 2fr;/*左（ラベル）と右（入力欄）の幅を1：2にする。たとえば「名前*/
}


.contact-form__group:first-of-type {
    margin-top: 0;
}

.contact-form__group:last-of-type {
    align-items: flex-start;
}

.contact-form__required {
    color: #FF9494;
}

.contact-form__input {
    padding: 8px 16px;
    background-color: #F4F4F4;
    color: #BEB1A6;
}

.contact-form__name-inputs,
.contact-form__tel-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 32px;
}

.contact-form__name-input {
    width: 100%;
}

.contact-form__gender-inputs {
    display: flex;
    justify-content: left;
}

.contact-form__gender-option {
    margin-right: 70px;
}

.contact-form__gender-input {
    position: absolute;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.contact-form__gender-text {
    display: flex;
    align-items: center;
}

.contact-form__gender-text::before {/*性別の丸ボタン*/
    display: block;
    margin-right: 8px; /*→ 丸と文字の間の隙間。*/
    width: 24px;/*→ 丸の大きさ。*/
    height: 24px;
    border: 1px solid #8B7969;
    border-radius: 50%;/*→ 完全な円形に。*/
    content: '';
}

.contact-form__gender-input:checked+.contact-form__gender-text::before {
    background: #8B7969;/*チェックされた時に丸の中を塗られたようになる*/
}

.contact-form__tel-input {
    width: calc(100%/3);/*→ 「親要素の幅を3で割った大きさ」にします。 calc() は「計算して幅を出す」CSSの関数です。*/
    text-align: center;
    }

.contact-form__select-inner {
    position: relative;
}

.contact-form__select-inner::after {/*お問い合わせの種類の枠の三角ボタン*/
    position: absolute;
    top: 50%;
    left: 43%;
    width: 0;
    height: 0;
    border-top: 12px solid #BEB1A6;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    content: "";
    transform: translateY(-50%);
}

.contact-form__select {
    padding: 8px 16px;
    width: 50%;
    background-color: #F4F4F4;
    color: #BEB1A6;
}

.contact-form__textarea {
    padding: 8px 16px;
    height: 144px;
    background-color: #F4F4F4;
    color: #BEB1A6;
}

.contact-form__btn {
    margin: 32px auto 0;
    display: block;
        padding: 8px 32px;
        border: none;
        background-color: #82756A;
        color: #FFF;
        font-size: 16px;
        cursor: pointer;
}


/* エラーメッセージ */
.contact-form__error-message {
    margin-top: 8px;
    color: #FF9494;

    grid-column: 2;/*.contact-form__group の2列目（入力欄の下）にこのメッセージを表示する。ラベルの下には出ない。*/
}

.contact-form__name-group .contact-form__error-message {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 32px;
}

.contact-form__error-message-first-name,
.contact-form__error-message-last-name {
    width: 100%;
}